@import url(https://fonts.googleapis.com/css?family=Nunito);
.form-control {
  display: block;
  width: 100%;
  height: 36px;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  background-image: none;
  padding: 6px 12px;
  border-width: 1px;
  border-style: solid;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control:focus {
  background-color: rgb(255, 255, 255);
}

.form-control-label {
  text-align: left;
  text-align: right;
}

.btn-action {
  padding: 2px 4px;
}

.colored-toast.swal2-icon-success {
  background-color: #38c172 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #e3342f !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f6993f !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

.btn-action {
  padding: 2px 4px 2px 4px;
}

.select2-container {
  display: block;
}

.select2-container *:focus {
  outline: 0;
}

.input-group .select2-container--bootstrap4 {
  flex-grow: 1;
}

.input-group-prepend ~ .select2-container--bootstrap4 .select2-selection {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .select2-container--bootstrap4:not(:last-child) .select2-selection {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--bootstrap4 .select2-selection {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .select2-container--bootstrap4 .select2-selection {
    transition: none;
  }
}
.select2-container--bootstrap4.select2-container--focus .select2-selection {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.select2-container--bootstrap4.select2-container--focus.select2-container--open .select2-selection {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.select2-container--bootstrap4.select2-container--open.select2-container--above .select2-selection {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--bootstrap4.select2-container--open.select2-container--below .select2-selection {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.select2-container--bootstrap4.select2-container--disabled .select2-selection,
.select2-container--bootstrap4.select2-container--disabled.select2-container--focus .select2-selection {
  cursor: not-allowed;
  background-color: #e9ecef;
  border-color: #ced4da;
  box-shadow: none;
}

.select2-container--bootstrap4.select2-container--disabled .select2-search__field,
.select2-container--bootstrap4.select2-container--disabled.select2-container--focus .select2-search__field {
  background-color: transparent;
}

select.is-invalid ~ .select2-container--bootstrap4 .select2-selection,
form.was-validated select:invalid ~ .select2-container--bootstrap4 .select2-selection {
  border-color: #dc3545;
}

select.is-valid ~ .select2-container--bootstrap4 .select2-selection,
form.was-validated select:valid ~ .select2-container--bootstrap4 .select2-selection {
  border-color: #28a745;
}

.select2-container--bootstrap4 .select2-search {
  width: 100%;
}

.select2-container--bootstrap4 .select2-dropdown {
  border-color: #ced4da;
  border-radius: 0;
}

.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--below {
  border-top: none;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--above {
  border-top: 1px solid #ced4da;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected=true] {
  color: #212529;
  background-color: #f2f2f2;
}

.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected=true] {
  color: #fff;
  background-color: #007bff;
}

.select2-container--bootstrap4 .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--bootstrap4 .select2-results__option[role=group] .select2-results__options--nested .select2-results__option {
  padding-left: 1em;
}

.select2-container--bootstrap4 .select2-results__option {
  padding: 0.375rem 0.75rem;
}

.select2-container--bootstrap4 .select2-results > .select2-results__options {
  max-height: 15em;
  overflow-y: auto;
}

.select2-container--bootstrap4 .select2-results__group {
  display: list-item;
  padding: 6px;
  color: #6c757d;
}

.select2-container--bootstrap4 .select2-selection__clear {
  float: right;
  width: 0.9em;
  height: 0.9em;
  padding-left: 0.15em;
  margin-top: 0.7em;
  margin-right: 0.3em;
  line-height: 0.75em;
  color: #f8f9fa;
  background-color: #c8c8c8;
  border-radius: 100%;
}

.select2-container--bootstrap4 .select2-selection__clear:hover {
  background-color: #afafaf;
}

.select2-container--bootstrap4 .select2-selection--single {
  height: calc(1.5em + 0.75rem + 2px) !important;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
  line-height: calc(1.5em + 0.75rem);
  color: #6c757d;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 50%;
  right: 3px;
  width: 20px;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 0;
  height: 0;
  margin-top: -2px;
  margin-left: -4px;
  border-color: #343a40 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
  padding-left: 0.75rem;
  line-height: calc(1.5em + 0.75rem);
  color: #495057;
}

.select2-search--dropdown .select2-search__field {
  padding: 5px 5px 5px 5px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.select2-results__message {
  color: #6c757d;
}

.select2-container--bootstrap4 .select2-selection--multiple {
  min-height: calc(1.5em + 0.75rem + 2px) !important;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.375rem;
  margin: 0;
  list-style: none;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
  float: left;
  padding: 0;
  padding-right: 0.75rem;
  margin-top: calc(0.375rem - 2px);
  margin-right: 0.375rem;
  color: #495057;
  cursor: pointer;
  border: 1px solid #bdc6d0;
  border-radius: 0.2rem;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-search__field {
  color: #495057;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice + .select2-search {
  width: 0;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
  float: left;
  padding-right: 3px;
  padding-left: 3px;
  margin-right: 1px;
  margin-left: 3px;
  font-weight: 700;
  color: #bdc6d0;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #343a40;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__clear {
  position: absolute !important;
  top: 0;
  right: 0.7em;
  float: none;
  margin-right: 0;
}

.select2-container--bootstrap4.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
  padding: 0 5px;
  cursor: not-allowed;
}

.select2-container--bootstrap4.select2-container--disabled .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  display: none;
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
  display: block !important;
  width: 100% !important;
  height: calc(1.6em + 0.75rem + 2px) !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  line-height: 1.6 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  text-align: left;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 6px !important;
  right: 1px;
  width: 20px;
}

.select2-dropdown {
  z-index: 10;
}
