 /*=============== GOOGLE FONTS ===============*/
 
 @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
 @import url('https://fonts.maateen.me/solaiman-lipi/font.css');
 /*=============== VARIABLES CSS ===============*/
 
 :root {
     --header-height: 60px;
     /*========== Colors ==========*/
     --hue: 174;
     --sat: 63%;
     --first-color: hsl(var(--hue), var(--sat), 40%);
     --first-color-alt: hsl(var(--hue), var(--sat), 36%);
     --title-color: hsl(var(--hue), 12%, 15%);
     --text-color: hsl(var(--hue), 8%, 35%);
     --body-color: hsl(var(--hue), 100%, 99%);
     --container-color: #FFF;
     /*========== Font and typography ==========*/
     --body-font: 'Open Sans', sans-serif;
     --h1-font-size: 1.5rem;
     --normal-font-size: .938rem;
     --tiny-font-size: .625rem;
     /*========== z index ==========*/
     --z-tooltip: 10;
     --z-fixed: 1000;
 }
 
 @media screen and (min-width: 968px) {
      :root {
         --h1-font-size: 2.25rem;
         --normal-font-size: 1rem;
     }
 }
 /*=============== BASE ===============*/
 
 .custom-menu {
     * {
         box-sizing: border-box;
         padding: 0;
         margin: 0;
     }
     ul {
         list-style: none;
     }
     a {
         text-decoration: none;
     }
     /*=============== REUSABLE CSS CLASSES ===============*/
     .section {
         padding: 4.5rem 0 2rem;
     }
     .section__title {
         font-size: var(--h1-font-size);
         color: var(--title-color);
         text-align: center;
         margin-bottom: 1.5rem;
     }
     .section__height {
         height: 100vh;
     }
     /*=============== LAYOUT ===============*/
     /*=============== HEADER ===============*/
     .header {
         top: 0;
         left: 0;
         width: 100%;
         background-color: #ffffff;
         z-index: var(--z-fixed);
         transition: .4s;
     }
     /*=============== NAV ===============*/
     .cnav {
         height: 60px;
         padding: 5px;
         justify-content: space-between;
         border-bottom: 1px solid #eeeeee;
         box-shadow: -2px 2px 3px -4px #aaaaaa;
     }
     .nav__logo img {
         height: 45px;
     }
     .nav__img {
         width: 32px;
         border-radius: 50%;
     }
     .nav__logo {
         color: var(--title-color);
         font-weight: 600;
     }
     .nav__list,
     .nav__link {
         display: flex;
     }
     .nav__link {
         flex-direction: column;
         align-items: center;
         row-gap: 2px;
         color: var(--title-color);
         font-weight: 600;
     }
     .nav__list {
         justify-content: space-around;
     }
     .nav__name {
         font-size: 10px;
         /* display: none;*/
         /* Minimalist design, hidden labels */
     }
     .nav__icon {
         font-size: 1.5rem;
     }
     /*Active link*/
     .active-link {
         position: relative;
         color: var(--first-color);
         transition: .3s;
     }
     /* Change background header */
     .scroll-header {
         box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
     }
     .nav-mobile-footer-menu {
         display: none;
     }
     @media screen and (max-width: 767px) {
        .header {
            position: fixed;
        }
         .nav__menu {
             padding-top: 2px;
             justify-content: center;
         }
         .nav__item {
             margin-right: 5px;
             color: #ffffff;
             border-radius: 10px;
             height: 45px;
             width: 50px;
             border: 1px solid #f5f5f5;
             padding: 3px 4px 2px 4px;
         }
         .nav-mobile-footer-menu {
             position: fixed;
             bottom: 0;
             left: 0;
             width: 100%;
             height: 60px;
             padding: 0px;
             display: grid;
             align-content: center;
             transition: .4s;
             border-radius: 15px 15px 0px 0px;
         }
         .nav__logo img {
             height: 120px;
         }
         .sliderIcon {
             display: none;
         }
     }
     @media screen and (max-width: 320px) {
         .nav__name {
             display: none;
         }
     }
     /* For medium devices */
     @media screen and (min-width: 576px) {
         .nav__list {
             justify-content: center;
             column-gap: 1px;
         }
     }
     @media screen and (min-width: 767px) {
        
         .section {
             padding: 7rem 0 2rem;
         }
         .nav {
             height: calc(var(--header-height) + 1.5rem);
         }
         .nav__img {
             display: none;
         }
         .nav__icon {
             display: none;
         }
         .nav__name {
             font-size: var(--normal-font-size);
             /* display: block; */
             /* Minimalist design, visible labels */
         }
         .nav__link:hover {
             color: var(--first-color);
         }
         /* First design, remove if you choose the minimalist design */
         .active-link::before {
             content: '';
             position: absolute;
             bottom: -.75rem;
             width: 4px;
             height: 4px;
             background-color: var(--first-color);
             border-radius: 50%;
         }
     }
     @media screen and (min-width: 1024px) {
         .container {
             margin-left: auto;
             margin-right: auto;
         }
     }
     .cart {
         background-color: #6c5ce7;
         color: #ffffff;
         height: 60px;
         border: 1px solid #eeeeee;
         box-shadow: 0 2px 4px 0 #aaaaaa, 0 3px 10px 0 #aaaaaa;
         border-width: 1px 0px 0px 0px;
         border-radius: 15px 15px 0px 0px;
         min-width: 150px;
         vertical-align: center;
         text-align: center;
     }
     .cart a {
         color: #ffffff;
     }
     .cart a:hover {
         background: rgba(0, 0, 0, 0.7)
     }
     .status-area {
         padding: 15px 10px 15px 5px;
         color: #fff;
         display: inline-block;
         height: 50px;
         margin-top: 5px;
         font-weight: bold;
         text-align: center;
         font-size: 14px;
         border-radius: 5px;
         font-family: 'SolaimanLipi', Arial, sans-serif;
         box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.30);
     }
     .cart .amount {
         padding-top: 5px;
         color: #ffffff;
         height: 45px;
         display: inline-block;
         font-size: 12px;
         font-weight: bold;
         text-align: center;
         font-family: 'SolaimanLipi', Arial, sans-serif;
     }
     .cart .amount hr {
         background-color: #ccc;
     }
     .button-area {
         height: 50px;
         margin-top: 5px;
         //  border: 1px solid #eeeeee;
         margin-right: 15px;
     }
     .button-area .mbutton {
         background: #F47375;
         border: 1px solid #aaaaaa;
         box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
         color: #ffffff;
         font-weight: bold;
         border-radius: 5px;
         float: right;
         min-width: 31%;
         padding-top: 7px;
         margin-right: 3px;
         height: 50px;
         font-size: 10px;
     }
     .mbutton .icon {
         font-size: 20px;
     }
     .mbutton.mbuttonActive {
         background-color: #6352b9;
     }
 }