.product {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    border: 1px solid #e9ecef;
    box-shadow: 0 0 20px 0 rgba(183,190,199,0.15);
    margin-right: 10px;
    padding: 2px;
    margin-bottom: 15px;
    overflow: hidden;
    img {
        border-radius: 5px;
    }
    .body {
        /* background: black; */
        padding: 2px;
        font-size: 15px;
        text-align: center;
        height: 100%;
    }
    .title {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        margin: 0px 0px 10px 0px;
        padding-top: 5px;
        color: black;
        height: 40px;
        /* background: red; */
        
    }
    .quantity-area {
        height: 20px;
        /* background: blue; */
        font-size: 13px;
        color: #2c3e50;
    }
    .price-area {
        margin-bottom: 5px;
        margin-top: 10px;
        color: red;
    }
    .price {
        color: #e43215;
        font-weight: 700;
        font-size: 18px;
    }
    .button-area {
        text-align: center;
        height: 40px;
        vertical-align: middle;
    }
    button:focus {
        outline: none !important;
        box-shadow: none !important;
    }
    .add-bag {
        width: 100%;
        border-radius: 5px;
        height: 100%;
        font-size: 16px;
    }
    .bag-count-area {
        background: #3498db;
        height: 100%;
        border-radius: 5px;
        color: #fff;
    }
    .minus-quantity {
        float: left;
        border-right: 1px solid #d55f5f;
        border-radius: 5px 0 0 5px;
        width: 30px;
        height: 100%;
    }
    .QuantityTextContainer {
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        line-height: 36px;
        padding-top: 2px;
        vertical-align: middle;
        overflow: hidden;
    }
    .plusQuantity {
        border: none;
        width: 30px;
        background: #2ecc71;
        border-radius: 0px 5px 5px 0px;
        height: 100%;
        font-weight: 700;
        color: #fff;
        float: right;
    }
    .product-card-height {
        height: 200px;
    }
    .product-img {
        height: 150px;
        width: 150px;
    }
    .product-img-isShowPage {
        height: 350px;
        width: 350px;
    }
    .product-card-height-isShowPage {
        height: 500px;
    }
}

.product {
    border-radius: 10px;
}

.product:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@mixin modal-fullscreen() {
    padding: 0 !important; // override inline padding-right added from js
    .modal-dialog {
        width: 100%;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .modal-body {
        overflow-y: auto;
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        .modal-fullscreen#{$infix} {
            @include modal-fullscreen();
        }
    }
}